.container {
  margin-top: 20px;
}

.progress, .panel table {
  margin-bottom: 0;
}

footer {
  text-align: center;
}

/* Cores */

#cores tr td:nth-child(1) {
  width: 230px;
}

#cores tr td:nth-child(1) strong {
  float: left;
}

#cores tr td:nth-child(2) {
  color: #777;
}

#cores tr td:nth-child(3) {
  width: 75px;
}


/* Functions */

#functions tr td:nth-child(1) {
  width: 230px;
}

#functions tr td:nth-child(2) {
  color: #777;
}

#functions tr td:nth-child(3) {
  width: 60px;
}


/* Execution history */

#execution-history tr td:nth-child(1) {
  width: 120px;
}

#execution-history tr td:nth-child(2) {
  width: 270px;
}

#execution-history tr td:nth-child(3) {
  width: 50px;
}

#execution-history tr td:nth-child(3) .spinner {
  margin-left: 0;
}

#execution-history tr td:nth-child(4) {
  width: 60px;
}


/* Variables */

#variables tr td:nth-child(1) {
  width: 230px;
}

#variables tr td:nth-child(2) {
  width: 80px;
}

#variables tr td:nth-child(3) {
  width: 150px;
}

#variables tr td:nth-child(4) {
  width: 580px;
}

#variables tr td:nth-child(4) .spinner {
  margin-left: 0;
}


/* Spinner */
.spinner {
  width: 30px;
  text-align: center;
  float: left;
  margin-left: 5px;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #333;
  margin-left: 2px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner div:nth-child(1) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
